@import "../../global.scss";
//.home
//{
    page1 {
        height:95%;
    }
    
    h2 {
        color: #333;
    }
        
    .pageClass{
        position: relative;
        display: flex;
        height: 100vh;
        width: 100%;
        border: none !important;
        /* z-index: 999; */
    }

    .about{
        /* display: flex;
        justify-content: center; */
        margin:auto;
    }

    .heading{
        font-size: 35px;
        align-content: center;
    }
    .heading1{
        font-family: 'Courier New', Courier, monospace;
    }

    .top
            {
                height: 40%;
                position: relative;
                margin: 10px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: white;
                position: relative;
                transition: all 1s ease;
                cursor: pointer;

                .heading2
                {
                    position: absolute;
                    z-index: 2;
                    text-align: center;
                    font-size: 25px;
                    // span
                    // {
                    //     font-size: inherit;
                    //     color: rgb(253, 253, 253);
                    // }

                    // .ityped-cursor
                    // {
                    //     animation: blink 2s infinite;
                    // }

                    @keyframes blink 
                    {   
                        50%
                        {
                            opacity: 1;
                        }
                        100%
                        {
                            opacity: 0;
                        }
                        
                    }
                
                }
            }
        .right
        {
            flex: 0.5;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .wrapper
            {
                width: 100%;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1
                {
                    font-size: 60px;
                    margin: 10px 0px;
                    color: crimson;
                }

                h2
                {
                    font-size: 35px;
                    
                }
            
            }
        }
   .container{
    display: flex;
   }